<div class="cls1" id="div1">
        <ul class="menu">
            <li>Images</li>
            <a href="#div3"> <li>Video</li> </a>
            <!-- <li>Video</li> -->
            <a href="#div5"><li>Map</li></a>
            <a href="#div7"><li>Help</li></a>
        </ul>
</div>
<div class="cls2" id="div2">
    <h1>Parrot</h1>
</div>
<div class="cls3" style="margin-top: 20px;" id="div3">
        <iframe width="500px" height="300" src="https://www.youtube.com/embed/rOax50EDIZQ" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>"

        <div style="margin-left: 600px; margin-top: -180px; font-size: 20px;">Tom and Jerry is an American animated franchise and
            series of comedy short films created in 1940 by William Hanna and
            Joseph Barbera. Best known for its 161 theatrical short films by Metro-Goldwyn-Mayer, the series centers
            on the rivalry
            between the titular characters of a cat named Tom and a mouse named Jerry.
    </div>
</div>
<div class="cls4"id="div4">
    <h1>Cat</h1>
</div>
<div class="cls5" style="text-align: right; margin-top: 20px;" id="div5">
    <iframe width="500px" height="300" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15135.378290729699!2d73.8093169!3d18.4906982!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xabd31c8f9e6eca9a!2sMarathwada%20Mitra%20Mandal&#39;s%20College%20of%20Engineering%2C%20Pune!5e0!3m2!1sen!2sin!4v1616429223199!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<div style="margin-right: 600px; text-align: left; font-size: 20px; margin-top: -180px; font-family: Times New Roman;"> Address Of MMCOE Collage = Sr.No. 18, Plot No. 5/3, CTS No.205, Vadar Vasti Rd,
    Karvenagar, behind Vandevi Temple, Pune, Maharashtra
</div>
</div>

<div class="cls6"id="div6">
    <h1>Panda</h1>
</div>
<div class="cls7"id="div7">
    <h1>Help</h1>
</div>